<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
	<bean id="loginBo" class="com.mxvv.comercial.bo.impl.LoginBoImpl">
		<property name="loginDao" ref="loginDao"></property>
	</bean>
	
	<bean id="busquedaBo" class="com.mxvv.comercial.bo.impl.BusquedaBoImpl"/>
	
	<bean id="customerBo" class="com.mxvv.customer.bo.impl.CustomerBoImpl" >
   		<property name="customerDao" ref="customerDao" />
   	</bean>
   	
   	<!-- User Service Declaration -->
	<bean id="userService" class="com.mxvv.customer.bo.impl.UserService">
		<property name="userDAO" ref="userDAO" />
	</bean>

</beans>